/* pagina mural */

* {
  font-family: Merriweather, "Regular";
  margin: 0%;
}

body::-webkit-scrollbar {
  width: 12px;        
}

body::-webkit-scrollbar-track {
  background: rgba(155, 148, 148, 0.7);     
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(22, 22, 22, 0.7); 
  border-radius: 20px;
  height: 10%;
  border: 1vw solid rgba(154, 149, 149, 0.7); 
}

body {
  margin: 0%;
  font-family: "Exo 2", sans-serif;
}

nav {
  background-color: black;
  height: 13vh;
  width: 100vw;
  position: fixed;
  position: fixed;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

header {
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #9F9D9D;
}

a {
  color: white;
}

.containerDash {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navDash {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoDash {
  height: 12vh;
  width: 85vw;
  display: flex;
  justify-content: flex-start;
}

a img {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.navegacaoDash {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

button {
  background-color: black;
}

.geralDash {
  height: 60%;
  width: 100%;
  margin-top: 13%;
}

.textoDash {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.totalDash {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.geralTextoDash {
  margin-bottom: 5%;
}

.graficosDash {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-left {
  display: flex;
  justify-content: space-around;
  height: 13vh;
  width: 98vw;
  opacity: 0.8;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.header-left ul {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-left a {
  color: white;
  text-decoration: none;
}

.centerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.dash-geral {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  background-color: #9F9D9D;
}

.sobreSite {
  display: flex;
  justify-content: center;
}

.columnText {
  width: 50%;
  text-align: center;
}

.hello {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  /* border: solid 3px #860b0b; */
}

.hello ul {
  font-size: 40px;
  color: black;
}

.sobreSite ul {
  font-size: 40px;
  color: black;
}

.avisoCaptura {
  display: flex;
  justify-content: center;
}

.dash-right {
  display: flex;
  justify-content: space-between;
}

.sobreSite {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  /* border: solid 2px #382933; */
  width: 50%;
}

.sobreSite ul {
  display: flex;
  justify-content: flex-start;
  font-size: 40px;
  width: 100%;
  /* border: solid 2px #860b0b; */
}

.dash-right .avisos {
  width: 100%;
  /* border: 3px solid pink; */
  color: black;
  font-family: "Exo 2", sans-serif;
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 100%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 100%;
}

.dash-right .avisos .div-form label {
  width: 100%;
}

.dash-right .avisos .div-form input {
  width: 100%;
  border-radius: 5px;
}

.dash-right .avisos .div-form textarea {
  width: 100%;
  border: 3px solid #860b0b;
  background-color: white;
  border-radius: 5px;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #860b0b;
  width: 120px;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #860b0b;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #860b0b;
  padding: 20px;
}

.publicacao > *:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #860b0b;
  margin-left: 30px;
}