/* pagina mural */

*,
body {
  margin: 0%;
  font-family: "Exo 2", sans-serif;
}

nav {
  background-color: black;
  height: 13vh;
  width: 100vw;
  position: fixed;
  border: solid 2px white;
  position: fixed;
  z-index: 10;
}

header {
  background-color: #9F9D9D;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
}

a {
  color: white;
}

.containerDash {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navDash {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoDash {
  height: 12vh;
  width: 85vw;
  display: flex;
  justify-content: flex-start;
}

a img {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.navegacaoDash {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

button {
  background-color: black;
}

.geralDash {
  height: 60%;
  width: 100%;
  margin-top: 15%;
}

.textoDash {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.geralTextoDash {
  margin-bottom: 5%;
}

.graficosDash {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-left {
  display: flex;
  justify-content: space-around;
  height: 13vh;
  width: 98vw;
  border: solid 2px white;
  opacity: 0.8;
  z-index: 10;
}

.header-left ul {
  color: white;
  display: flex;
  align-items: center;
}

.header-left a {
  color: white;
}

.dash-geral {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  background-color: #9F9D9D;
}

.sobreSite {
  display: flex;
  justify-content: center;
}

.hello {
  display: flex;
  justify-content: center;
}

.hello ul {
  font-size: 40px;
  color: black;
}

.sobreSite ul {
  font-size: 40px;
  color: black;
}

.avisoCaptura {
  display: flex;
  justify-content: center;
}

.dash-right .avisos {
  width: 100%;
  /* border: 3px solid pink; */
  color: black;
  font-family: "Exo 2", sans-serif;
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 100%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 100%;
}

.dash-right .avisos .div-form label {
  width: 100%;
}

.dash-right .avisos .div-form input {
  width: 100%;
  border-radius: 5px;
}

.dash-right .avisos .div-form textarea {
  width: 100%;
  border: 3px solid #860b0b;
  background-color: white;
  border-radius: 5px;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #860b0b;
  width: 120px;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #860b0b;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #860b0b;
  padding: 20px;
}

.publicacao > *:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #860b0b;
  margin-left: 30px;
}