
* {
    font-family: Merriweather, "Regular";
    color: white;
    margin: 0%;
  }

  a {
    all: unset;
    cursor: pointer;
  }
  
  body::-webkit-scrollbar {
    width: 12px;        
  }
  
  body::-webkit-scrollbar-track {
    background: rgba(155, 148, 148, 0.7);     
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgba(22, 22, 22, 0.7); 
    border-radius: 20px;
    height: 10%;
    border: 1vw solid rgba(154, 149, 149, 0.7); 
  }

nav {
    background-color: black;
    height: 13vh;
    width: 100vw;
    position: fixed;
    opacity: 0.7;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.container {
    background-color: #9F9D9D;
    height: 100vh;
}

.containerNav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 12vh;
    width: 85vw;
    display: flex;
    justify-content: flex-start;
}

.navegacao {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.navegacao a {
    color: #fff;
    font-size: 15px;
}

button {
    background-color: black;
}

/* Game */

.formatted_description {
    box-shadow: #9F9D9D 0px 1px 4px, #9F9D9D 0px 0px 0px 3px;
    background-color: black;
}

.formatted_description p {
    color: #fff;
}
